@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #535353;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  .messages {
    font-family: var(--font-roboto-condensed);
    font-size: medium;
    font-weight: 500;
  }
}

.chat-section::-webkit-scrollbar {
  display: none;
}

.goaway {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s, transform 1s;

  &.left {transform: translate(-100%);}
  &.right {transform: translate(200%);}
}
.showup {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
  transition: opacity 1s, visibility 1s, transform 1s;
}

.left-pos{
  left: 5%;
  right: 0;
  transition: left 1s, right 1s;

} 

.right-pos{
  left:initial;
  right: 10%;
  transition: left 1s, right 1s;

  @media screen and (max-width: 768px) {
    right: initial;
    left: 5%;
  }
}

